<footer class="bg-light pt-5 pb-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer">
            <h5>We Are Awesome</h5>
            <small>
              This is due to their excellent service, competitive pricing and
              customer support. It's thoroughly refreshing to get such a personal
              touch.
            </small>
            <div class="d-flex  align-items-center my-4 icons">
              <i class="fab fa-facebook-f icon"></i>
              <i class="fab fa-twitter icon"></i>
              <i class="fab fa-instagram icon"></i>
              <i class="fab fa-youtube icon"></i>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="footer">
            <h5>Useful Links</h5>
            <small>
              <ul class="list-unstyled">
                <li> <a routerLink='aboutus' class="text-reset">About Us</a></li>
                <li> <a routerLink='contact-us' class="text-reset">Contact Us</a></li>
                <li> <a routerLink='terms' class="text-reset">Terms & Conditions</a></li>
                <li> <a routerLink='register' class="text-reset">Create an Account</a></li>
                <li> <a routerLink='login' class="text-reset">Sign In</a></li>
              </ul>
            </small>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="footer">
            <h5>Contact Info</h5>
            <small>
              <ul class="list-unstyled">
                <li><i class="fa fa-map mr-2"></i>Egypt, Cairo, 24 El Salam Street, 240</li>
                <li><i class="fa fa-envelope mr-2"></i>support@shop-in.com</li>
                <li><i class="fa fa-phone mr-2"></i>+ 38 (067) 113-00-35</li>
                <li><i class="fa fa-fax mr-2"></i>+ 38 (067) 113-00-36</li>
              </ul>
            </small>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="footer">
            <h5>Newsletter</h5>
            <small>
              Subscribe to get the latest news, update and offer information.
              Don't worry, we won't send spam!
            </small>
          </div>
          <div class="subscribe mt-4">
            <input type="email" class="form-control" placeholder="Enter your email" >
            <button class="btn"><i class="far fa-paper-plane"></i></button>
            <small class="text-danger" *ngIf="error" >{{error}}</small>
          </div>
        </div>
      </div>
      <hr>
      <div class="copyRight">
        <h6 class="float-left">  <small> Shop-In Angular eCommerce App</small></h6>
        <h6 class="float-right"> <small>© 2020 Shop-In is proudly powered by our team</small></h6>
      </div>
    </div>
  </footer>
  
