<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
           
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-tshirt"></i> Men's Fashion</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Clothes</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">Watches</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-female"></i> Women's Fashion</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Clothes</a></li>
                        <li><a href="#">Jewelry</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">Watches</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fas fa-child"></i> Kid's Fashion</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-dumbbell"></i> Sports & Fitness</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-shopping-bag"></i> Bags</a>
              </li>
              
              <li>
                <a href="#"><i class="fas fa-project-diagram"></i> All Categories</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-window-restore "></i> All Products</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-heart"></i> Wishlist</a>
        </li>
        
            </ul>

            <ul class="list-unstyled CTAs">
              <li>
                <a href="#"> <i class="fas fa-user-plus"></i> Create an account</a>
            </li>
            <li>
              <a href="#"> <i class="fas fa-sign-in-alt"> </i> Sign In </a>
          </li></ul>
        </nav>

    <!-- Page Content  -->
    <div id="content">

      

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container-fluid">
              <div class="sidebar-header mr-5">
                <h3 style="margin-right: 16px">SHOP IN </h3>
             </div>
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left fa-lg"></i>
                    <span></span>
                </button>
                <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button> -->

                <div class="input-group w-50 ml-5 pl-5 ">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class='fas fa-search'></i></span>
                  </div>
                <input type="text" class="form-control" placeholder="what you're looking for " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto d-flex justify-content-center align-items-center">
                      <li class="nav-item dropdown  mr-2">                                  
                        <select class="form-control form-control-sm ">
                          <option>EN</option>
                          <option>AR</option>
                        </select>
                      </li>
                        <li class="nav-item dropdown  mr-2">
                          <select class="form-control form-control-sm">
                            <option>USD</option>
                            <option>EUR</option>
                            <option>EGP</option>
                            <option>SAR</option>
                          </select>
                        </li>
                        <li class="nav-item m-2">
                            <a href="#"><i class="fas fa-heart"></i></a>
                        </li>
                        
                        

                        <li class="nav-item m-2">
                            <a href="#"><i class="fas fa-shopping-bag"></i></a>
                        </li>
                        <li class="nav-item dropdown d-flex justify-content-center align-items-center">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> My account</a><br>
                              <div class="dropdown-menu drop-menu " aria-labelledby="navbarDropdownMenuLink">
                             <a href="#" class="d-inline-block py-2 pl-3"> <i class="fas fa-user-plus"></i> Create an account</a> <br>
                             <a href="#" class="d-inline-block py-2 pl-3"> <i class="fas fa-sign-in-alt"> </i> Sign In </a>
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>