<section class="bg-mine overflow-auto">
    <div class="container">
    <div class="bg-light shadow-lg my-5 radius text-center pt-0 px-4 pb-4">
        <h2 class="py-3 m-0">Product Overview</h2>
        <hr class="m-0">
        <div class="row">
            <div class="col-md-6 mt-5">
                <img src="../../assets/images/good_1590710609908_00.png" alt="jacket" class="img-fluid jacket">
            </div>
            <div class="col-md-6 mt-5">
                <div class="text-left">
                    <small>Men's Fashion</small>
                </div>
                <h3 class="h2 text-left">Quartz Watch With Black Leather Strap & Silver Bezel</h3>
                <div class="rate d-flex ">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="text-left py-3">
                    <strong class="h3">
                        $309.00
                    </strong>
                </div>

                <p class="text-left">
                    <small>
                        Stainless steel case with a black leather strap. Fixed black PVD bezel showing tachymeter markings. 
                        Silver and black dial with luminous hands and index hour markers. Arabic numerals mark the 3, 9 and ...
                    </small>
                </p>
                <div class="text-left py-2">
                    <strong>
                        SIZES
                    </strong>
                    <div class="d-flex">
                        <div class="form-group mr-2">
                            <label>Small</label>
                            <input type="radio" class=" mx-2" name="size">
                        </div>
                        <div class="form-group mx-2">
                            <label>medium</label>
                            <input type="radio" class=" mx-2" name="size">
                        </div>
                        <div class="form-group mx-2">
                            <label>Large</label>
                            <input type="radio" class=" mx-2" name="size">
                        </div>
                        <div class="form-group mx-2">
                            <label>Xlarge</label>
                            <input type="radio" class=" mx-2" name="size">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="count d-flex bg-mine radius">
                                <i class="fas fa-minus" id="minus"></i>
                                <span class="mx-3" id="productCount">1</span>
                                <i class="fas fa-plus" id="plus"></i>
                            </div>
                        </div>
                        <div class="col-1 offset-2 mr-4">
                            <div class="d-flex bg-mine radius justify-content-center align-items-center heart-icon">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn radius btn-block btn-primary font-weight-bold">
                                <i class="fas fa-shopping-cart mr-1"></i>
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container  mb-5 radius shadow-lg">
        <div class="row">
            <div class="col-12 p-0">
              <div class="list-group text-center font-weight-bold" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active radius radius-bottom-0" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Descreption</a>
                <a class="list-group-item list-group-item-action radius-bottom-0" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Reviews</a>
              </div>
            </div>
            <div class="col-12 bg-light radius radius-top-0">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active py-5" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    Stainless steel case with a black leather strap. Fixed black PVD bezel showing tachymeter markings. 
                    Silver and black dial with luminous hands and index hour markers. Arabic numerals mark the 3, 9 and 12 o'clock positions.
                     Minute markers. 1/100th markings around the outer rim.
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="row py-4">
                        <div class="col-md-5 d-flex align-items-center my-3">
                            <div class="bg-primary rounded-circle user-comment mr-3">USER</div>
                            <div>
                                <div>
                                    <small>12/12/2020</small>
                                </div>
                                <strong>USER NAME</strong>
                            </div>
                        </div>
                        <div class="col-md-7 my-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i> <br>
                            That watch looks like something Rihanna would wear.
                        </div>
                    </div>
                    <hr class="m-0">
                    <button class="btn btn-block py-3" id="reviewsBtn">See more reviews</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</section>