$color-mine:#e9e9e9;

.bg-mine{
    background-color: $color-mine;
}

.radius{
    border-radius: 14px;
}

.radius-bottom-0{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.radius-top-0{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.jacket{
    height: 400px;
}

.count{
    width: fit-content;
    padding: 10px 20px;

    span{
        margin-top: -5px;
    }
}

.heart-icon{
    padding: 11px 20px;
}

.fa-star{
    color: gold;
}

.show{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.user-comment{
    width:60px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group{
    .list-group-item{
        border: #F8F9FA solid 1px;
        border-bottom: #d8d8d8 solid 1px;
        border-top: transparent solid 1px;
    }
    
    .active{
        border: #007BFF solid 1px;
    }
}

#minus , #plus , .heart-icon{
    cursor: pointer;
}