  
    <div class="text-center py-2 md-4">
        <h1>Sign In</h1><br>
        <a href="#"> Home</a> <i class="fas fa-angle-right"></i> <span  style="color: #ACABB6;">Sign In </span>
      </div>
      <section>
          <div class="container ">
              <div class="row ">
                  <div class="col-md-4 custom-in-center">
                      <div class="login-box bg-white mt-4 shadow">
                          <div class="login-title text-center py-4">
                              <h4>Sign In to Your Account</h4>
                              <p  style="color: #ACABB6;">Sign In using social networks</p>
                              <div  style="font-size: 3em; ">
                                  <a href="https://www.google.com/" target="_blank"><i style="color: #E74235;" class="fab fa-google-plus"></i></a>
                                  <a href="https://www.facebook.com/" target="_blank"><i style="color: #4267B2;" class="fab fa-facebook"></i></a>
                                  <a href="https://www.twitter.com/" target="_blank"><i style="color: #55AAE0;" class="fab fa-twitter"></i></a>
                              </div>
                          </div>
                          
                          <div class="login-content p-4">
                              
                             
  
                              <form>
                                  <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" class="w-100" placeholder="e.g.John.doe@gmail.com " >
                                  </div>
  
                                  <div class="form-group">
                                      <label>Password</label>
                                      <div class="password-input">
                                          <input type="password" class="w-100 passInput pr-5 " placeholder="********">
  
                                          <i class="far fa-eye-slash"></i>
                                          <i class="far fa-eye"></i>
                                      </div>
                                  </div>
  
                                  <div class="form-group d-flex justify-content-between">
                                      <div>
                                          <a class="forget-pass" href="#">Forget your password?</a>
                                      </div>
                                      <a class="forget-pass" href="#">Create an Account</a>
  
                                  </div>
                                  <div class="form-group">
                                  </div>
                                  <div class="text-center">
                                      <button class=" w-50" type="submit" >Sign In</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>