<section class="bg-mine pb-5">
    <div class="text-center py-5">
      <h2 class="h1 font-weight-bold text-dark">Shopping Cart</h2>
      <nav
        aria-label="breadcrumb"
        class="d-flex justify-content-center align-items-center">
        <ol class="breadcrumb bg-transparent m-0">
          <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
      </nav>
    </div>
    <div class="container">
    <div class="radius bg-light text-center p-0 shadow-lg">
        <h2 class="pt-3 h4 text-dark font-weight-bold">Cart Items</h2>
        <hr>
        <p class="py-5">
            <small class="text-muted font-weight-bold">
                You have no items in your shopping cart.
            </small>
        </p>
        <button class="btn btn-outline-primary btn-block text-dark font-weight-bold shoppingBtn py-3">
            <i class="fas fa-angle-double-left"></i> Continue Shopping
        </button>
    </div>
  </div>
</section>
