section {
    background-color: #f3f4f7 !important;
}
h1 {
    font-size: 3rem;
}
.terms-content {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: #FFF;
}
.text-color {
    color: #9fa7b6;
}
a:hover {
    text-decoration: none;
}
.bread-text {
    font-size: 16px;
    font-weight: bold;
}
