<section class="sec-color overflow-auto pt-5">
    <div class="filter-nav mb-3 pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="col-lg-8 offset-lg-2 offset-md-3  col-md-3 col sm-6 ">
                        <div class="shap-icon ml-2">
                            <button class="btn bg-light" type="button" id="prod-list"><i class="fas fa-list"></i></button>
                            <button class="btn bg-light ml-1" type="button" id="prod-group"><i class="fas fa-th"></i></button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="sidebar">
                            <div class="sidebar-box-2">
                                <h2 class="heading">Categories</h2>
                                <div class="fancy-collapse-panel">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingOne">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Men's Fashion 
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                             <div class="panel-body">
                                 <ul>
                                     <li><a href="#"> Clothes </a></li>
                                     <li><a href="#"> Shoes </a></li>
                                     <li><a href="#"> Watches </a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingTwo">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Women's Fashion 
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                             <div class="panel-body">
                                <ul>
                                    <li><a href="#"> Clothes </a></li>
                                    <li><a href="#">  Jewelry  </a></li>
                                    <li><a href="#"> Shoes </a></li>
                                    <li><a href="#"> Watches </a></li>
                                </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingThree">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accessories
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                             <div class="panel-body">
                                <ul>
                                    <li><a href="#"> Clothes </a></li>
                                    <li><a href="#">  Jewelry  </a></li>
                                    <li><a href="#"> Shoes </a></li>
                                    <li><a href="#"> Watches </a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-head" role="tab" id="headingFour">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree"> Sports & Fitness 
                                 </a>
                             </h4>
                         </div>
    
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-head" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree"> Bags 
                                </a>
                            </h4>
                        </div>
    
                    </div>
                  </div>
               </div>
            </div>
            <div class="sidebar-box-2">
                <h2 class="heading">Price Range</h2>
                <div  class="colorlib-form-2" >
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="guests">Price from :</label>
                            <div class="form-field">
                              <i class="icon icon-arrow-down3"></i>
                              <select name="people" id="people" class="form-control">
                                <option value="#">1</option>
                                <option value="#">200</option>
                                <option value="#">300</option>
                                <option value="#">400</option>
                                <option value="#">1000</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="guests">Price to :</label>
                            <div class="form-field">
                              <i class="icon icon-arrow-down3"></i>
                              <select name="people" id="people" class="form-control">
                                <option value="#">2000</option>
                                <option value="#">4000</option>
                                <option value="#">6000</option>
                                <option value="#">8000</option>
                                <option value="#">10000</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-9 sec-color">
                    <div class="product-group" id="product-group">
    
                        <div class="col-lg-3 col-md-6 float-left">
                            <div class="product">
                                <a class="img-wrapper" href="#">
                                    <img src="../../assets/image/1.jpg" class="img-fluid" alt="Classic Brown Watch For Men" />
                                </a>
                                
                                <div class="info">
                                    <div class="title"> Classic Brown Watch For Men </div>
                                    <div class="price">$34.99</div>
                                </div>
                                
                                <div class="actions-wrapper">
                                    <a href="#" class="add-btn wishlist "><i class="fas fa-shopping-cart w-18"></i> <span>Wishlist</span></a>
                                    <a href="#" class="add-btn cart"><i class="far fa-heart w-18 "></i> Cart </a>
                                </div>
            
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 float-left">
                            <div class="product">
                                <a class="img-wrapper" href="#">
                                    <img src="../../assets/image/2.jpg" class="img-fluid" alt="Classic Brown Watch For Men" />
                                </a>
                                
                                <div class="info">
                                    <div class="title"> Classic Brown Watch For Men </div>
                                    <div class="price">$34.99</div>
                                </div>
                                
                                <div class="actions-wrapper">
                                    <a href="#" class="add-btn wishlist"><i class="fas fa-shopping-cart w-18 "></i> Wishlist</a>
                                    <a href="#" class="add-btn cart"><i class="far fa-heart w-18"></i> Cart </a>
                                </div>
            
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 float-left">
                            <div class="product">
                                <a class="img-wrapper" href="#">
                                    <img src="../../assets/image/3.jpg" class="img-fluid" alt="Classic Brown Watch For Men" />
                                </a>
                                <div class="note no-stock">Out of stock</div>
                                <div class="info">
                                    <div class="title"> Classic Brown Watch For Men </div>
                                    <div class="price">$34.99</div>
                                </div>
                                
                                <div class="actions-wrapper">
                                    <a href="#" class="add-btn wishlist"><i class="fas fa-shopping-cart w-18"></i> Wishlist</a>
                                    <a href="#" class="add-btn cart"><i class="far fa-heart w-18"></i> Cart </a>
                                </div>
            
                            </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 float-left">
                            <div class="product">
                                <a class="img-wrapper" href="#">
                                    <img src="../../assets/image/4.jpg" class="img-fluid" alt="Classic Brown Watch For Men" />
                                </a>
                                <div class="note on-sale">On Sale</div>
                                <div class="info">
                                    <div class="title"> Classic Brown Watch For Men </div>
                                    <div class="price">$34.99</div>
                                </div>
                                
                                <div class="actions-wrapper">
                                    <a href="#" class="add-btn wishlist"><i class="fas fa-shopping-cart w-18"></i> Wishlist</a>
                                    <a href="#" class="add-btn cart"><i class="far fa-heart w-18"></i> Cart </a>
                                </div>
            
                            </div>
                        </div>
    
                    </div>
                    <div class="col-12">
                        <div class="product-list " id="product-list">
                            <div class="col-md-4 col-sm-12 float-left">
                                <div class="wrapper-img">
                                    <img src="../../assets/image/1.jpg" class="product-img" alt="">
                                </div>
                                <div class="note on-new">New</div>
                
                            </div>
                            <div class="col-md-8 col-sm-12 float-left text-left">
                                <div class="item-info">
                                    <h1 class="mb-0">Classic Brown Watch For Men</h1>
                                    <div class="stars">
                                        <input type="radio" id="star1" name="rating" value="1" /><input type="radio" id="star2" name="rating" value="2" /><input type="radio" id="star3" name="rating" value="3" /><input type="radio" id="star4" name="rating" value="4" /><input type="radio" id="star5" name="rating" value="5" />
                                        
                                        <label for="star1" aria-label="Banana">1 star</label><label for="star2">2 stars</label><label for="star3">3 stars</label><label for="star4">4 stars</label><label for="star5">5 stars</label>
                                        </div>
                                    <div class="font-weight-bold my-1">$34.99</div>
                                    <div class="product-info">
                                        <p class="product-paragraph">Guest it he tears aware as. Make my no cold of need. He been past in by my hard. Warmly thrown oh he...</p>
                                    </div>
                                    <div class="">
                                        <a href="#"><i class="fas fa-shopping-cart fa-3x product-icon"></i> </a>
                                        <a href="#"><i class="far fa-heart fa-3x product-icon ml-1"></i>  </a>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    
    
    
    
    </section>