<section class="py-5">
    <div class="container py-5 text-white">
        <div class="categories-cards">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-12">

                    <div class="cat-card-item card-one d-flex justify-content-center align-items-center   mt-3">
                        <div class="card-content pr-3">
                            <h3 class="my-3">Men's Fashion</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2"><a routerLink="/products/men-clothes" class="text-reset text-decoration-none">Shop Now</a></button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/images/suit.png" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 col-12">

                    <div class="cat-card-item card-two d-flex justify-content-center align-items-center mt-3">
                        <div class="card-content">
                            <h3 class="my-3">Women's Fashion</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2"><a routerLink="/products/women-clothes" class="text-reset text-decoration-none">Shop Now</a></button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/images/woman-clothes.png" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 col-12">

                    <div class="cat-card-item card-three d-flex justify-content-center align-items-center  mt-3 ">
                        <div class="card-content">
                            <h3 class="my-3">Kid's Fashion</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2"> <a routerLink="/products/kids-fashion" class="text-reset text-decoration-none">Shop Now</a> </button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/images/baby-clothes.png" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="cat-card-item card-four d-flex justify-content-center align-items-center  mt-3 ">
                        <div class="card-content">
                            <h3 class="my-3">Sports & Fitness</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2"> <a routerLink="/products/sports-fitness" class="text-reset text-decoration-none">Shop Now</a> </button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/test/sports-and-fitness_catImg.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="cat-card-item card-five d-flex justify-content-center align-items-center  mt-3 ">
                        <div class="card-content">
                            <h3 class="my-3">Bags</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2"> <a routerLink="/products/bags" class="text-reset text-decoration-none">Shop Now</a> </button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/test/bags_catImg.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>