
<!-- Start Categories Cards -->

<section class="my-5">
    <div class="container">
        <div class="categories-cards">
            <div class="row">
                <div class="col-md-4 col-md-6 col-lg-4">

                    <div class="cat-card-item card-one d-flex justify-content-center align-items-center   mt-3">
                        <div class="card-content pr-3">
                            <h3 class="my-3">Men's Fashion</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2">Shop Now</button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/images/suit.png" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <div class="cat-card-item card-two d-flex justify-content-center align-items-center mt-3">
                        <div class="card-content">
                            <h3 class="my-3">Women's Fashion</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2">Shop Now</button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/images/woman-clothes.png" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-md-6 col-lg-4">

                    <div class="cat-card-item card-three d-flex justify-content-center align-items-center  mt-3 ">
                        <div class="card-content">
                            <h3 class="my-3">Kid's Fashion</h3>
                            <p class="my-3">Visit our shop to see amazing products</p>
                            <button class="btn mb-2">Shop Now</button>
                        </div>
                        <div class="card-image">
                            <img src="../../assets/images/baby-clothes.png" class="img-fluid" alt="">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Categories Cards -->

<!-- start Banner On Sale -->
<section class="my-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 mx-auto">
                <div class="banner-box  p-5 ">
                    <div class="row d-flex justify-content-center align-items-center ">
                        <div class="col-md-6">
                            <div class="banner-image text-center">

                                <img src="../../assets/images/backpack_PNG6353.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-content text-center">


                                <div class="offer mt-3">
                                    <h5>50% OFF</h5>
                                </div>

                                <h3>Oil Green Backpack</h3>

                                <span> <del> 1000 L.E </del></span>
                                <span>500 L.E</span>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Product On Sale -->

